<footer class="uk-section uk-section-xsmall uk-section-secondary uk-light">
	<div class="uk-container">
		<div class="uk-grid-match uk-child-width-1-2@m pin-text-white" uk-grid>	
			<div>
				<p class="uk-margin-remove logo-litera">WeblTOP &copy; 2017-{{ site.time | date: '%Y' }}</p>
				<p class="uk-margin-remove uk-text-small">{{ site.copyright }}</p>
			</div>	
			<div class="uk-margin-small-top">
				<p class="uk-flex uk-flex-right@m uk-flex-middle">
					{{ site.soc }}
				</p>
			</div>
		</div><!--//uk-grid-->
	</div><!--//uk-container-->
</footer>
<!--Scroll Top-->
<a id="js-scroll-trigger" class="uk-position-fixed uk-position-small uk-position-bottom-right uk-button uk-button-default uk-button-small uk-padding-remove-horizontal" uk-icon="icon: chevron-up; ratio: 1.5" href="#target" uk-scroll></a>
<!--//Scroll Top-->
<script src="assets/js/scripts.min.js"></script>
<script id="dsq-count-scr" src="//test-5qudabgxca.disqus.com/count.js" async></script>
</body>
</html>
