<header class="uk-header uk-background-default">

{% include /header-top.html %}

<div class="uk-background-blend-soft-light uk-background-secondary uk-background-cover uk-height-small uk-panel uk-flex uk-flex-center uk-flex-middle pin-media" uk-parallax="bgy: -200" style="background-image: url({{ site.imagehome }});">
		<div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical pin-text-white">
			<h1 class="uk-h2 uk-margin-small pin-text-white uk-padding-small uk-padding-remove-vertical">{{ page.title }}</h1>
		</div>
	</div>
</header>