<div class="uk-padding-small uk-margin-bottom uk-alert-warning uk-box-shadow-small uk-box-shadow-hover-medium" uk-alert>
	<a class="uk-alert-close" uk-tooltip="Закрыть" uk-close></a>
	<p class="uk-h5 uk-margin-remove uk-text-bold">Если эта информация стала для вас полезной, вы можете сказать "спасибо", нажав кнопку вашей любимой социальной сети:</p>
	<div class="likely-on-page">
		<div class="likely likely-custom" data-url="{{ site.url }}{{ page.url }}" data-media="{{ page.image }}" data-title="{{ page.title }}">
			<div class="vkontakte" title="Поделиться Вконтакте" uk-tooltip="Поделиться в ВК">Вконтакте</div>
			<div class="facebook" title="Поделиться в Facebook" uk-tooltip="Поделиться в Facebook">Facebook</div>
			<div class="twitter" title="Поделиться в Twitter" uk-tooltip="Поделиться в Twitter">Twitter</div>
			<div class="odnoklassniki" title="Класснуть" uk-tooltip="Поделиться в Одноклассники">Одноклассники</div>
			<div class="gplus" uk-tooltip="Поделиться в Google Plus">Google Plus</div>
		</div>
	</div>
</div>